
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

:root{
 --bgColor:#F3F0EB;
 --dark-color:#022D01;;
 --white:#fff;
 --font-family: 'Poppins', sans-serif;
 --blue-color:#3911ec;
 --green-color: #529930;
 --darkblue-color:#3b1c37;
 --chok-color:#6766a5;
 --gray-color:#ced4da;
 --gray:gray;
 --red: red;


}

body { 
 background-color: var(--gray-color); 
 position: relative; 
 font-family: var(--font-family);
 

}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--font-family);
}
a {
 -webkit-transition: .3s all ease;
 -o-transition: .3s all ease;
 transition: .3s all ease; 
}
 a, a:hover {
   text-decoration: none !important; 
 }



/* Header */
header {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 z-index: 5;
 padding: 0px 0;
}

 @media (min-width: 768px) {
   header { 
     padding: 30px 0;
    } 
 }
 header .navbar-brand p{ 
   text-transform: uppercase;
   letter-spacing: .2em; 
   font-size: 2rem; 
   font-weight: bolder;
   margin: 0px; 
   padding: 0px;
   color: var(--white);
 }
 header .navbar-brand p span{
  color: var(--red);
 }
 header .navbar-brand small{
   font-size: 0.7em;
   position: absolute;
   margin: 0;
   padding: 0;
   background-color:var(--blue-color);
   margin-top: -10px;
 }

 header .navbar-brand.absolute {
     position: absolute; 
 }
 @media (max-width: 991.98px) {

       header .navbar-brand.absolute {

         position: relative; 
       }
       
   }

@media (min-width: 768px) {
       header .navbar-brand span {

         color: var(--gray-color); 
       } 
   }

 header .navbar { 

   background: var(--chok-color)!important;
   padding-top: .1rem;
   padding-bottom: 1rem; 
   padding-left: 1em;
   padding-right: 1em;

}
   @media (min-width: 768px) {
     header .navbar {
       padding-top: 1em;
       padding-bottom: 0;
       background: none !important;
       position: relative; 
     }
    }
   header .navbar .nav-link {
     margin-top: 10px;
     /* padding: 1.7rem 1rem; */
     outline: none !important;
     font-size: 1rem;
     line-height: 1;
     color:var(--white) !important;
    }
    header .navbar .nav-link:hover{
      background: var(--bgColor);
      color: var(--blue-color) !important; 
      box-shadow: 2px 0 20px -5px rgba(0, 0, 0, 0.2); 
      line-height: 1;
      font-weight: normal;
      
      border-radius: 6px;
    }

    @media (max-width: 1199.98px) {
       header .navbar .nav-link { 
         padding: .5rem 0rem; 
       } 
     }


  
   header .navbar .ctj-btn a {
     background: var(--blue-color);
     color: var(--white) !important;
     text-transform: uppercase;
     font-size: .8rem;
     padding: 10px 20px !important;
     line-height: 1;
     font-weight: normal;
     -webkit-transition: .3s all ease;
     -o-transition: .3s all ease;
     transition: .3s all ease; 
     border-radius: 6px;
   }

   header .navbar .cta-btn a,.getdonatesection .buttons a {
         background: var(--darkblue-color);
         color: var(--white) !important;
         text-transform: uppercase;
         font-size: .8rem;
         padding: 10px 20px !important;
         line-height: 1;
         font-weight: normal;
         -webkit-transition: .3s all ease;
         -o-transition: .3s all ease;
         transition: .3s all ease;
         border-radius: 6px;
       }
   
   header .navbar .cta-btn a:hover ,header .navbar .ctj-btn a:hover, .hero .ctj-btn:hover , .getdonatesection .buttons a:hover{
       background: var(--bgColor);
       color: var(--blue-color) !important; 
       box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
      }


 .hero {
   height: 95vh;
   width: 100%;
   background-size: cover;
   /* background-position: center center; */
   background-repeat: no-repeat;
   position: relative;
   font-weight: bold;
   filter: blur(rem);
 }

 .hero span{ 
  color: var(--gray-color)
 } 
.hero h1{
 margin: 30px 0px;
 font-weight: bold;
 font-size: 2.5rem;
 color: var(--gray-color)
 
}

@media (min-width: 782px) {
 .hero{
   background-image: url('D:/Projects/MINE/Eroh Tech/assets/images/bg.jpeg');
   }
   .hero h1 {
     font-size: 3.5rem;
   }
   .herod{
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
 }
}
.hero .herod .icons{
  color: var(--white);
  font-size: 18px;
}
.hero .herod .icons:hover{
  color: var(--gray);
}
.hero .ctj-btn{ 
   background-color: var(--blue-color);
     color: var(--white) !important;
     text-transform: uppercase;
     font-size: .8rem;
     padding: 10px 20px !important;
     line-height: 1;
     font-weight: bold;
     -webkit-transition: .3s all ease;
     -o-transition: .3s all ease;
     transition: .3s all ease;
     border-radius: 6px;
 }
.about-header{
 margin-bottom: 100px;
}

.about-header .header p,  .getinvolved .header p,.getdonatesection p {
 color: var(--blue-color);

}

.about-header .header h5, .getinvolved .header h5,.getdonatesection h5{ 
 text-align: start;
 color: var(--dark-color);
}

@media (min-width: 782px) {
 .about-header .header h5 , .getinvolved .header h5,.getdonatesection h5{
     font-size: 50px; 
   }
}
.about-header .body{
 color: var(--gray);
}

.about-header .leftside{
   margin-top: 100px;
}

.about-header .leftside h5{
 color: var( --gray);
}


/* banner above evenry page */
.header-banner {
  height: 60vh;
  width: 100%;
  background-image: url('D:/Projects/MINE/Eroh Tech/assets/images/5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* top: 0; */
}

.header-banner .over-lay-element{
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: 70px;
  align-items: center;
}

 /* service */


.services .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
    background: var(--bgColor)
}

.services .icon-box .icon {
  margin-bottom: 10px;
}

.services .icon-box .icon i {
  color: var(--chok-color);
  font-size: 36px;
  
}

.services .icon-box h5 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 19px;
}

.services .icon-box h5 a {
  color: var(--chok-color);
  
}

.services .icon-box p {
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 0;
}
.services .icon-box:hover h4 a {
  color: #47b2e4;
}

/* Team */

.row  .col-md-4 .thumbnail{
  background-color: var(--bgColor);
  margin-bottom: 16px;
  padding: 0px 18px;
 
}
.row  .col-md-4 .thumbnail .icons{
  font-size: 35px;
  
}

@media screen and (max-width: 650px) {
  .row  .col-md-4 .thumbnail {
    width: 100%;
    display: block;
  }
}

.thumbnail {
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 5px 15px;
}

.title {
  color: grey;
}

.button {
  border: none;
  border-radius: 10px;
  outline: 0;
  display: inline-block;
  padding: 3px;
  color: white;
  /* background-color: var(--dark-color); */
  text-align: center;
  cursor: pointer;
  width: 10%;
  height: 33px;
}

.button:hover {
  background-color: var(--bgColor);
}



/* contact */
.contact-mf{
  padding: 30px 0;
   padding-top: 80px;
 }
 
 
/* footer box */



.footer{
  padding-top: 30px;
 }
 
 .footer  a {
  color: var(--gray);
 }
 
 .footer .footerbottom {
  padding-top: 40px;
  background-color: var(--dark-color);
 }
 
 .footer .footerbottom h4{
  color: var(--white);
 }
 .footer .footerbottom p{
  color: var(--gray);
 }
 .footer .copyright{
  margin-bottom: 40px 0;
 }



.box-shadow-full {
  padding: 3rem 2rem;
  position: relative;
  background-color: var(--bgColor);
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.0), 0 1px 3px 0 rgba(0, 0, 0, 0.0);
}

@media (min-width: 768px) {
  .box-shadow-full {
    padding: 3rem;
  }
}

.box-shadow-full .row {
  padding: 10px;
  color: var(--blue-color);

}

.box-shadow-full .row h5 {
  color: var(--chok-color);
}

.box-shadow-full .row p {
  color: var(--gray);
}
/* .btn .ctj-btn {
  background-color: var(--green-color);
  color: var(--white) !important; 
  padding: 10px 20px !important; 
  font-weight: bold;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  border-radius: 6px;
} */
/* 
.btn .ctj-btn:hover {
  background: var(--bgColor);
  color: var(--green-color) !important;
  box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
}
 */






/* portoflio */

/* 
.portfolio-wrap{
 padding:96px 30px;
}
.portfolio-wrap .mt-48{
 margin-top:45px
}
.portfolio-wrap .mt-72{
 margin-top:72px
}
.portfolio-wrap .portfolio-item{
 
 margin-bottom:30px
}
.portfolio-wrap .portfolio-item.visible{
 display:block
}
.portfolio-cont{
 margin-bottom:20px
}
.portfolio-cont img{
 width:100%;
 
}
.portfolio-cont .entry-title{
 margin-top:12px;
 font-size:18px;
 font-weight:500
}
.portfolio-cont .entry-title a{
 color:var(--chok-color);
}
.portfolio-cont h4{
 margin-top:10px;
 font-size:14px;
 font-weight:500;
 color:var(--orange-color)
} */


